# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# ChromaDB index directory
chroma_db_bible/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/
